# Macro data wrangling

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def wrangle(path):
    # Load data
    df = pd.read_csv(path)

    # Convert 'date' column to datetime
    df['date'] = pd.to_datetime(df['Date'])

    # Sort data
    df = df.sort_values(by='date', ascending=True) 

    # # Filter data for the year 2024
    # df = df[df['date'].dt.year == 2024]

    # Drop columns
    df = df.drop(columns=['Date'])

    # Rename columns
    df = df.rename(columns={'CPUSAM_Close': 'CPI', 
                            '_VIXD_Close': 'VIX', 
                            '__XAU_D_Close': 'Gold', 
                            'BRT_D_Close': 'Oil', 
                            '_SPXD_Close': 'SP500',
                            '_NDXD_Close': 'Nasdaq100'})

    # Set index
    df.set_index('date', inplace=True)

    return df

In [3]:
df = wrangle("/Users/alexzheng/Developer/GitHub/EC331-project/EMH/Data/Macro.csv")

In [4]:
df

              SP500  CPI       Gold  Nasdaq100    VIX    Oil
date
2023-01-02      NaN  NaN  1823.6899        NaN    NaN  82.82
2023-01-03  3824.14  NaN  1839.4900   10862.64  22.90  80.36
2023-01-04  3852.97  NaN  1854.0900   10914.80  22.01  75.31
2023-01-05  3808.10  NaN  1833.1899   10741.22  22.46  76.73
2023-01-06  3895.08  NaN  1865.7100   11040.35  21.13  76.41
...             ...  ...        ...        ...    ...    ...
2025-03-07  5770.20  NaN  2910.7900   20201.37  23.37  72.49
2025-03-10  5614.56  NaN        NaN   19430.95  27.86  71.08
2025-03-11  5572.07  NaN        NaN   19376.96  26.92    NaN
2025-03-12  5599.30  NaN        NaN   19596.02  24.23    NaN
2025-03-13  5521.52  NaN        NaN   19225.48  24.66    NaN

[581 rows x 6 columns]

In [5]:
df.isna().sum()

SP500         1
CPI          30
Gold          4
Nasdaq100     1
VIX           1
Oil           3
dtype: int64

In [6]:
df.describe()

,SP500,CPI,Gold,Nasdaq100,VIX,Oil
count,580.000000,551.000000,577.000000,580.000000,580.000000,578.000000
mean,4959.432621,310.327608,2220.573237,17076.719362,16.373810,81.075571
std,695.157453,5.161181,319.973802,3007.865197,3.350574,5.814831
min,3808.100000,299.170000,1810.810100,10741.220000,11.860000,70.310000
25%,4348.085000,306.746000,1956.560100,14898.507500,13.650000,76.092500
50%,4962.920000,310.326000,2043.240000,17477.810000,15.670000,81.065000
75%,5578.870000,314.796000,2497.030000,19752.300000,18.535000,85.340000
max,6144.150000,319.082000,2951.189900,22175.600000,38.570000,97.100000

In [7]:
df_1 = df.loc['2024-01-01':'2024-12-31']
df_1

              SP500      CPI       Gold  Nasdaq100    VIX    Oil
date
2024-01-01  4742.83  308.417  2062.5901   16543.94  13.20  76.24
2024-01-02  4742.83  308.417  2058.8767   16543.94  13.20  76.24
2024-01-03  4704.81  308.417  2040.7760   16368.49  14.04  77.18
2024-01-04  4688.68  308.417  2043.2600   16282.01  14.13  75.79
2024-01-05  4697.24  308.417  2045.5000   16305.98  13.35  78.31
...             ...      ...        ...        ...    ...    ...
2024-12-25  6037.59  315.605  2634.4299   21768.31  14.73  73.50
2024-12-26  6037.59  315.605  2634.4299   21768.31  14.73  73.77
2024-12-27  5970.84  315.605  2620.0000   21473.02  15.95  73.77
2024-12-30  5906.94  315.605  2605.3899   21197.09  17.40  74.24
2024-12-31  5881.63  315.605  2623.8101   21012.17  17.35  74.58

[266 rows x 6 columns]

In [8]:
# # Save the cleaned data
# df.to_csv('/Users/alexzheng/Developer/GitHub/EC331-project/EMH/Data/cleaned_Macro.csv')